.DS_Store
.DS_Store?

pyrightconfig.json

data/
!data/line_to_llama_flw.py

outputs/

# Editor
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints/*